*{
/* background-color: #b87a1f; */
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(240, 236, 236);
}

 /* div prancipal qui contient logo est itemnav  */
    header nav { 
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    .logogame img {
        width: 60px;
        padding-left: 10px;
        height: 60px;
    }
    header nav  .itemnav ul li a{
        display: flex;
        padding-right: 160px;
        color: black;
        font-weight: 700;
        text-decoration: none;
        
    }
    header nav {
        width: 100%;
    }

    header nav  .itemnav ul   {
        display: flex;
        list-style-type: none;
        
    }
    header nav  .itemnav ul li  :hover{
        font-size: large;
        text-decoration: underline;
    }
    header .itembread ul {
        display: flex;
        list-style-type: none;
        padding-left: 10PX;
    }
    header  .itembread ul li  a {
        display: flex;
        color:gray;
        font-weight: 700;
        text-decoration: none;  
    }
    header .itembread ul li :hover{
        font-size: large;
        text-decoration: underline;
    }
    span{
        margin: 0px 30PX;
    }
    main section .gameimage img{
        width: 175PX;
        height: 250PX;
    }
    main .article1{
    border: 3px solid black;
    width: 200px;
    /* padding-left: 10PX; */
    }

    main .article1{
        margin: 10px;
        padding: 10px;
    }
    /* cela  pour mettre  le contenu de section horizental  */
    main #article{
        display: flex;
    }
    /* cela pour editer le text */
    main .para{
        margin-left: 10px;
    }
    .pricecolor{
        color: gray;
    }
    .parcolor{
        color: green;
    }
 



 
 @media screen and (max-width:768px) {
    header nav{
        display: block;
    }
    header nav  .itemnav ul li a{
        margin-left: 0px;
         margin-right: 20px;
        padding-right: 16px;
        padding: 0px; 
        font-size: 15px; 
    }
    .logogame img {
        display: block;       
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        height: 60PX; 
    }
    header .itembread ul li .item2{
        color: blue;
    }
    header .itembread ul li .item3{
        color: black;
    }
    ul span {
        margin-left: 1px;
   }
    main #article{
        display:block ;
    }
    main .article1{
        margin-left: 0;
        width: 300PX;
    }
    main .article1 .gameimage img{
        width: 270px;
    }
}
    @media print {
        nav .itemnav{
            display: none;
        }
    }